@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Primary-Regular';
  src: url(../src/assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Primary-Medium';
  src: url(../src/assets/fonts/OpenSans-Medium.ttf);
}

@font-face {
  font-family: 'Primary-Bold';
  src: url(../src/assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: 'Primary-Light';
  src: url(../src/assets/fonts/OpenSans-Light.ttf);
}
